body{
    background-image: url(/1.png);
   }
#container{
    background-color: #EBDCD7;
    opacity: 97%;  
    border: 2px solid;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}
p{
 color: rgb(14, 13, 13);
 font-size: 25px;
}
#input{
width: 100px;
margin: 25px auto;
}

#btn{
    width: 25px auto auto 5px;
}